default:
  image: node:20-alpine

stages:
  - deploy

publish-npm:
  stage: deploy
  script:
    - echo "//gitlab.aisoftware.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - npm install
    - npm publish
