image: node:18.18.0

stages:
  - build
  - release

build_storybook_url:
  stage: build
  before_script:
    - node --version
    - npm --version
  script:
    - echo "//gitlab.aisoftware.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - npm install --force
    - npm run chromatic
  environment:
    name: staging
    url: 'https://${CI_COMMIT_BRANCH}--65a026489061e8ec0333dc8f.chromatic.com'
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_ID
  tags:
    - docker

release:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  stage: release
  before_script:
    - node --version
    - npm --version
  script:
    - echo "//gitlab.aisoftware.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - npm install --force
    - npm run build || npm run build --verbose
    - npm publish

  tags:
    - docker
