stages:
  - deploy

publish-npm:
  stage: deploy
  image: registry.gitlab.aisoftware.com/ops/dockerfiles/aisoftware-base:nodejs-18.18.0
  before_script:
    - node --version
    - npm --version
  script:
    - echo "//gitlab.aisoftware.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - npm install
    - npm run build || npm run build --verbose
    - npm publish
