image: node:18.18.0

stages:
  - build
  - deploy
  - release

build:
  stage: build
  before_script:
    - node --version
    - npm --version
  script:
    - echo "//gitlab.aisoftware.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - npm install --force
    - npm run chromatic

  artifacts:
    paths:
      - public
    expire_in: 1 week
  environment:
    name: $CI_COMMIT_REF_SLUG
    url: 'https://65a026489061e8ec0333dc8f-xzmkulcuyw.chromatic.com/'
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_ID
  tags:
    - docker

pages:
  image: busybox
  stage: deploy
  needs:
    - build
  script:
    - echo "Deploying to GitLab Pages..."

  artifacts:
    paths:
      - public
    expire_in: 1 week
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

release:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
  stage: release
  before_script:
    - node --version
    - npm --version
  script:
    - echo "//gitlab.aisoftware.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" >> .npmrc
    - npm install --force
    - npm run build || npm run build --verbose
    - npm publish

  tags:
    - docker
